*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 50% 0 0;
    position: relative;
    
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        
}
@keyframes scroll {
    from {top: 0;}
    to { top: -6000px;}
}
.contenu{
    position: relative;
    animation: scroll 60s linear forwards;
    
    transform: translateZ(-2500px);
}
.introduction{
    
    color: yellow;
    font-size: 4em;
}

.texte{
    color: yellow;
    font-size: 2em;
    line-height: 250%;
    margin-left: 10%;
    margin-right: 10%;
}


