body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: yellow;
    overflow: hidden;
    
}
.center{
    border: solid 3px red;
    margin: 0 20% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    perspective: 1000px;
}
h1{
    border: solid 2px green;
    align-self: center;
}
img{
    border: solid 2px white;
    align-self: center;
}
p{
    margin: 0 5% 5%;
    border: solid 2px orange;
    text-align: justify;
}

.contenu{
    display: flex;
    flex-direction: column; 
    border: solid 2px blue;
    font-size: 2em;
    line-height: 200%;
    position: relative;
    transform: rotateX(25deg);
    animation: scroll 50s linear forwards;
}
@keyframes scroll {
    from{top: 0;}
    to{top: -2500px}
}