*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.center{
    color: yellow;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction{
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-name: introduction;
}
@keyframes introduction {
    0%{ opacity: 0;}
    20%{ opacity: 1;}
    80%{ opacity: 1;}
    100%{ opacity: 0;}
}


.titre{
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}
.texte{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    line-height: 200%;
}

    


